@page "/rulesets"
@using Pricing.Calculator.Web.App.Models.Request

<div class="row">
    <div class="col-3">
        <label class="form-label">Select Ruleset:</label>
        <select class="form-control" @bind="CurrentRulesetId">
            <option value=""></option>
            <option value="SC:GB-DC-IE">SC:GB-DC-IE</option>
            <option value="SC:GB-DT-EU">SC:GB-DT-EU</option>
        </select>
    </div>
</div>

<hr />

<div hidden="@Ishidden">
    <h4 class="mb-3 border-bottom">Main Attributes</h4>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Source Country</label>
                        <input type="text" readonly class="form-control" value="GB">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Declaration Country</label>
                        <input type="text" readonly class="form-control" value="IE">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" readonly class="form-control" value="-">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Postal Method</label>
                        <input type="text" readonly class="form-control" value="-">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mb-3 border-bottom">Charge Configurations</h4>
    <button class="btn btn-danger pt-0 pb-0 ml-2" type="button"><span class="oi oi-plus" @onclick="AddNewChargeConfig"></span></button>

    @foreach (var chargeConf in ChargeConfigurations)
    {
        <EditForm Model="@chargeConf">
            <ChargeConfigurationComponent ChargeConfiguration="@chargeConf" OnClickDelete="@OnClickDelete" />
        </EditForm>
    }

    <hr />
    <div class="float-right mb-3">
        <button class="btn btn-info" type="button">Preview Changes</button>
        <button class="btn btn-primary" type="button" @onclick="Publish">Publish Changes</button>
    </div>
</div>

@code {

    private string _currentRulesetId = string.Empty;
    private bool Ishidden = true;

    public List<Models.Request.ChargeConfiguration> ChargeConfigurations { get; set; } = new List<Models.Request.ChargeConfiguration>()
    {
        new Models.Request.ChargeConfiguration
        {
            Name = "test"
        }
    };

    public string CurrentRulesetId {
        get { return _currentRulesetId; }
        set
        {
            if (string.IsNullOrWhiteSpace(value))
                Ishidden = true;
            else
                Ishidden = false;

            _currentRulesetId = value;
        }
    }

    private void AddNewChargeConfig()
    {
        ChargeConfigurations.Add(new Models.Request.ChargeConfiguration());
    }

    private void Publish()
    {

    }

    private void OnClickDelete(ChargeConfiguration chargeConfiguration)
    {
        ChargeConfigurations.Remove(chargeConfiguration);
    }
}